.employee-bank-main{
    /* Employee Bank is divided into two sections, header and table*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% auto 5%; 

}

.employee-bank-header{
    /* Header takes lesser portion of the grid */
    grid-row: 1;
    border: 2px solid yellow;
}

.employee-bank-table {
    /* Table takes greatest portion of the grid */
    grid-row: 2; 

    /* General Styling */ 
    border: 2px solid pink;
}

.employee-bank-add-btn{
    /* Button takes lesser portion of the grid */
    grid-row: 3; 
    border: 2px solid green;
}

.employee-bank-table-row {
    display: grid;
    grid-template-columns: 60% 20% 20%; /* Adjust as needed */

    
}

.employee-bank-name{
    /* Names Exist in Column 1*/
    grid-column: 1;
    border: 2px solid red;
}
.employee-bank-name-input input {
    width: 100%; /* Limits the input width to its parent container */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  }

.employee-bank-count{
    /* Counts Exist in Column 2*/
    grid-column: 2;
    border: 2px solid red;
}

.employee-bank-remove-btn{
    /* Removal Exists in Column 3*/
    grid-column: 3;
    border: 2px solid red;
}