/* General Styles */

/* Reset margin, padding and font-weight for all h3 elements */
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Employee Bank Styles */

/* Main container for Employee Bank */
.employee-bank-main {
    position: sticky;
    top: 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto; 
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    height: fit-content;
    box-shadow: 3px 3px 3px lightgrey;
}

/* Header for Employee Bank */
.employee-bank-header {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--highlighter-blue);
    color: white;
    margin-bottom: 5px;
    padding: 5px;
}

/* Table for Employee Bank */
.employee-bank-table {
    grid-row: 2; 
    display: flex;
    flex-direction: column;
}

/* Employee Bank Table Row Styles */

/* Row in Employee Bank Table */
.employee-bank-table-row {
    display: grid;
    grid-template-columns: 68% 16% 16%;
    height: 40px;
    border: 0.2px solid lightgray;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

#modal-row {
    display: grid;
    grid-template-columns: 84% 16%;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* Common styles for name, count, remove and save button containers */
.employee-bank-name, .employee-bank-count, .employee-bank-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Specific styles for name container */
.employee-bank-name {
    padding-left: 5px;
    justify-content: flex-start;
}

.employee-bank-name input {
    width: 95%;
    height: 80%;
    border: none;
    margin: 0;
    padding-left: 5px;
}



.employee-bank-name:hover {
    cursor: pointer;
}

/* Specific styles for count container */
.employee-bank-count {
    background-color: whitesmoke;
}

/* Employee Bank Button Styles */

/* Common styles for remove and save button containers */
#remove-btn, #save-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Specific styles for remove button */
#remove-btn button {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 2px;
    cursor: pointer;
}

#remove-btn button:hover {
    background-color: var(--highlighter-dull-pink);
    color: white;
}

/* Specific styles for add button */
#add-btn button {
    width: 95%;
    align-self: center;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#add-btn button:hover {
    background-color: var(--highlighter-green);
    color: white;
}

/* Specific styles for save button */
#save-btn button {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 2px;
    cursor: pointer;
}
#save-btn button:hover {
    background-color: var(--highlighter-green);
    color: white;
}